# Deps
node_modules
/.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
/test-results/
/playwright-report/
/playwright/.cache/
/coverage/
.vitest-preview

# Production
dist
dist-ssr
/build

# Env
*.env
*.env.*
*.local
!*.env.*.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Storybook
storybook-static

# Misc
*.tsbuildinfo
.vercel
*.pem
.eslintcache
.stylelintcache
