node_modules/
pnpm-lock.json
dist/
.husky/
.vitest-preview/
test-results/
playwright-report/
.browserslistrc
.dockerignore
.editorconfig
.gitignore
.nvmrc
.prettierignore
.stylelintignore
Dockerfile*
*nginx*
